---
import { IconLink } from "@tabler/icons-react";
import type { Translations } from "../../i18n";

interface Props {
    t: Translations["work"];
}

const { t } = Astro.props;

const companies = [
    {
        img: "/Sperientia.png",
        name: "Sperientia: [Studio+Lab]",
        links: { website: "https://sperientia.com" },
        duration: "January 2026 - Current",
        place: "Mexico, Remote",
    },
    {
        img: "/suarec.jpeg",
        name: "Suarec - Technology Startup",
        links: { website: "https://suarec.com" },
        duration: "June 2025 - December 2025",
        place: "Cali, Colombia",
    },
    {
        img: "/encora.webp",
        name: "Winner of Encora's TechTitans Bootcamp",
        links: { instagram: "https://www.instagram.com/p/C9K4h6fRJsX/?img_index=1" },
        duration: "June 2024 - July 2025",
        place: "Cali, Colombia",
    },
    {
        img: "/icesi.png",
        name: "Icesi University",
        links: undefined,
        duration: "January 2022 - December 2023",
        place: "Cali, Colombia",
    },
];

const resume = companies.map((company, i) => ({
    ...company,
    position: t.resume[i].position,
    achievements: t.resume[i].achievements,
}));
---

<section id="work" class="w-full max-w-[750px] px-5 py-10 mx-auto flex flex-col gap-8 block-dashed-no-top">
    <h2 class="text-2xl dark:text-white">{t.title}</h2>
    <ul class="flex flex-col gap-8">
        {resume.map((job) => (
            <li class="flex flex-col gap-4">
                <div class="flex flex-row gap-2">
                    <img src={job.img} alt={job.name} width="56" height="56" class="rounded-md object-contain"/>
                    <div class="flex flex-col w-full">
                        <div class="flex flex-row justify-between items-center font-bold">
                            <h3 class="flex flex-row gap-3 items-center dark:text-white">
                                {job.name}
                                <span class="hidden sm:block">
                                    {job.links && (
                                        <a href={job.links.website ?? job.links.instagram} target="_blank" rel="noopener noreferrer" class="hover:text-accent transition-colors">
                                            <IconLink size={20} />
                                        </a>
                                    )}
                                </span>
                            </h3>
                            <p class="dark:text-white hidden sm:block">{job.place}</p>
                        </div>
                        <div class="flex flex-col sm:flex-row justify-between items-start text-secondary text-sm">
                            <p>{job.position}</p>
                            <p>{job.duration}</p>
                        </div>
                    </div>
                </div>
                <ul class="flex flex-col gap-2 list-disc list-inside">
                    {job.achievements.map((achievement) => (
                        <li class="text-secondary dark:text-white text-sm">{achievement}</li>
                    ))}
                </ul>
            </li>
        ))}
    </ul>
</section>
